extends baseEmail 

block content
  p Hi #{firstName},
  p Dear valued customer, we have received a request to reset the password for your account. If you did not initiate this request, ignore this mail. \nTo reset your password, please click on the following button or use this link #{url}
  p Website for this action not yet implemented
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href= `${url}`, target='_blank') Reset your password
  p If you need any help with booking your next tour, please don't hesitate to contact me!
  p - Chinmay Gupta, ADMIN